<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="Title">사진을 넣어주세요</div>
    <form action="/" method="post">
        <input type="image" name="img" required>
        <label>image</label>
        <input type="text" name="url" required>
        <label>image url</label>
        <input type="text" name="url" required>
        <label>구매처 주소</label>
        <input type="text" name="wear" required>
        <label>옷 종류(top, pants, hat)</label>
    </form>
    <div class="info">이미지 가이드</div>
    <div class="suggest">권장 기준</div>
    <div class="infoContent">이미지 크기 :</div>
    <span>640 x 640px, 1280 x 720px, 1080 x 1080px</span>
    <div class="infoContent">이미지 해상도 :</div>
    <span>72dpi ~ 300dpi</span>
    <div class="infoContent">이미지 형식 :</div>
    <span>JPG, JPEG, PNG, GIF, BMP, TIF, TIFF, WEBP</span>
    <div class="infoContent">이미지 비율</div>
    <span>1:2 ~ 2:1</span>
    <div class="limit">제한 기준</div>
    <div class="infoContent">이미지 크기 :</div>
    <span>최소 300 x 300px, 최대 16,383 x 16,383px</span>
    <div class="infoContent">이미지 용량 :</div>
    <span>최대 3Mb (Base64), 최대 20Mb (url)</span>
    <div class="infoContent">이미지 형식 :</div>
    <span>JPG, JPEG, PNG, GIF, BMP, TIF, TIFF, WEBP외 이미지 포맷</span>
    <div class="infoContent">이미지 비율</div>
    <span>1:5 ~ 5:1</span>
    <div></div>
</body>
</html>