<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="result">이미지 결과</div>
    <div class="resultContents">
        
    </div>
    <div class="recommendWearContainer">
        <div class="recommendWearSite">
            <% for(i=0, i,i++;) { %>
            <% } %>
            <!-- 추천 옷  -->
        </div>
        <div class="recommendWearTag">
            <!-- 추천 태그 색상, 브랜드, 등등 -->
        </div>

    </div>
</body>
</html>